---

- name: Include variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}.yml"
        - "{{ ansible_facts['os_family'] }}.yml"
      paths:
        - 'vars'

# macOS path
- name: Import macos tasks
  ansible.builtin.import_tasks: macos.yml
  when: ansible_facts['system'] == "Darwin"

# Linux path
- name: Linux-specific tasks
  when: ansible_facts['system'] != "Darwin"
  block:
    - name: Set fact is_container
      ansible.builtin.set_fact:
        is_container: true
      when: >
        (ansible_facts['virtualization_type'] is defined and
          (ansible_facts['virtualization_type'] == "docker"
           or ansible_facts['virtualization_type'] == "containerd"
           or ansible_facts['virtualization_type'] == "container"
          )
        )

    - name: Ensure install archives directory exists
      ansible.builtin.file:
        name: "{{ install_archives }}"
        mode: '0755'
        owner: root
        state: directory

    - name: Import amdgpu
      ansible.builtin.import_tasks: amdgpu.yml
      when: ollama_amdgpu_enable | bool

    - name: Import ollama
      ansible.builtin.import_tasks: ollama.yml

    - name: Import systemd
      ansible.builtin.import_tasks: systemd.yml

    - name: Import reporting
      ansible.builtin.import_tasks: reporting.yml

    - name: Import models
      ansible.builtin.import_tasks: models.yml
      when: not is_container | bool
