{{ ansible_managed | comment }}

# Ollama env settings
# Note: export is required for shell usage, but not for systemd EnvironmentFile
# https://github.com/ollama/ollama/blob/main/docs/faq.md#how-do-i-configure-ollama-server
# https://github.com/ollama/ollama/issues/2941

{% if proxy_url is defined and proxy_url != None and proxy_url | length > 0 %}
HTTPS_PROXY={{ proxy_url }}
{% endif %}
{% for kv in ollama_env_config %}
{{ kv }}
{% endfor %}
